<p><%= @display_name %> 様</p>

<p>こんにちは！いつもパパママQAをご利用いただきありがとうございます。</p>

<p>
質問にコメントが来ました。<br />
内容を確認してください。
</p>

<pre>
=========================
質問内容
=========================
【<%= @q.title %>】
<%= @q.content %>

=========================
コメント内容
=========================
<%= @a.content %>

▼質問・コメントの確認はこちらから
<%= question_url(@q.id) %>
</pre>

<hr />
パパママQA
https://papamamaqa.com