<% if @questions.present? %>
  <div>
    <span class="text-lg text-green-500 leading-relaxed"><%= number_with_delimiter @total_count %></span>件表示
  </div>
  <% @questions.each do |question| %>
    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container">
        <div class="w-full">
          <div class="px-4 py-8 flex flex-col items-start">
            <%= render partial: 'layouts/status', locals: { question: question } %>
            <h2 class="text-2xl title-font font-medium text-gray-900 mb-2"><%= link_to question.title, question_path(question.hashid) %></h2>
            <span><%= question_tags(question.tags).html_safe %></span>
            <p class="leading-relaxed mb-8"><%= question_content question.content %></p>
            <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
              <a href="<%= profile_path(question.user_hashid) %>" class="inline-flex items-center">
                <img src="<%= question.user_logo %>" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center" loading="lazy" alt="<%= question_user_name question.user_name %>">
                <span class="flex-grow flex flex-col pl-3">
                  <span class="title-font font-medium text-gray-900"><%= question_user_name question.user_name %></span>
                </span>
              </a>
              <p class="text-gray-400 inline-flex items-center ml-3">
                <%= question.created_at.strftime('%Y/%m/%d %H:%M') %>
              </p>
              <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
                </svg><%= number_with_delimiter question.view_cnt %>
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg><%= number_with_delimiter question.answer_cnt %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <nav class="text-center">
    <% prev_url = pagy_url_for(@pagy, @pagy.prev) if @pagy.prev %>
    <% next_url = pagy_url_for(@pagy, @pagy.next) if @pagy.next %>

    <ul class="inline-flex items-center -space-x-px">
      <li>
        <% if prev_url %>
          <a href="<%= prev_url %>" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Previous</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
          </a>
        <% else %>
          <span class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg">
            <span class="sr-only">Previous</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
          </span>
        <% end %>
      </li>

      <% @pagy.series.each do |item| %>
        <% if item.is_a?(Integer) %>
          <li>
            <a href="<%= pagy_url_for(@pagy, item) %>" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><%= item %></a>
          </li>
        <% else %>
          <li>
            <span aria-current="page" class="z-10 px-3 py-2 leading-tight text-green-600 border border-green-300 bg-green-50 hover:bg-green-100 hover:text-green-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"><%= item.to_s %></span>
          </li>
        <% end %>
      <% end %>

      <li>
        <% if next_url %>
          <a href="<%= next_url %>" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </a>
        <% else %>
          <span class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg">
            <span class="sr-only">Next</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </span>
        <% end %>
      </li>
    </ul>
  </nav>

<% else %>
  <p class="text-gray-600">検索結果がありません</p>
<% end %>
