<% content_for :title, '質問作成' %>

<div class="container mx-auto flex flex-wrap py-6">
  <section class="w-full md:w-3/4 flex flex-col px-3">
    <%= render partial: 'layouts/h1', locals: { h1: '質問をする' } %>
    <%= form_with model: @question, url: question_index_path, local: true do |form| %>

      <div class="relative mb-4">
        <label class="leading-7 text-sm text-gray-600">タイトル</label>
        <%=
          form.text_field :title,
          maxlength: 200,
          required: true,
          class: "w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        %>
        <p class="text-xs text-gray-500 mt-3">タイトルは質問内容を簡潔に書きましょう。</p>
      </div>

      <div class="relative mb-4">
        <label class="leading-7 text-sm text-gray-600">タグ</label>
        <div id="vue-tags"></div>
        <%= form.hidden_field :tags, required: true %>
        <p class="text-xs text-gray-500 mt-3">質問に関するタグを3つほど入力しましょう。</p>
      </div>

      <div class="relative mb-4">
        <label class="leading-7 text-sm text-gray-600">質問内容</label>
        <%=
          form.text_area :content,
          maxlength: 2000,
          required: true,
          class: "w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 h-96 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
        %>
      </div>

      <div class="relative mb-4">
        <%= form.select :status,
          [['下書き', 'wip'], ['公開する', 'open']],{},
          class: "border border-gray-300 text-gray-900 text-sm rounded focus:ring-green-200 focus:border-green-500 block p-2.5"
        %>
        <p class="text-xs text-red-500 mt-3">投稿するを選択すると、質問が公開されます。</p>
      </div>

      <button
        type="submit"
        class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg focus:ring-4 focus:outline-none focus:ring-green-300"
      >質問する</button>
    <% end %>
  </section>
  <aside class="w-full md:w-1/4 flex flex-col px-3">
    <%= render partial: 'layouts/side_banner' %>
  </aside>
</div>