<% content_for :title, @question.title %>
<% content_for :description, @question.content %>
<% content_for :keywords, @question.tags %>

<div class="container mx-auto flex flex-wrap py-6">
  <section class="w-full md:w-3/4 flex flex-col px-3">
    <%= render partial: 'question/layouts/show_questioner' %>

    <div class="flex">
      <%= question_status(@question).html_safe %>
    </div>

    <%= render partial: 'layouts/h1', locals: { h1: @question.title } %>

    <%= render partial: 'question/layouts/show_question' %>

    <%= render partial: 'question/layouts/show_good_cnt' %>

    <%= render partial: 'question/layouts/show_reply' %>

    <%= render partial: 'question/layouts/show_answer' %>


  </section>
  <aside class="w-full md:w-1/4 flex flex-col px-3">
    <div class="w-full bg-white shadow flex flex-col my-4 p-6">
      <p class="text-xl font-semibold pb-5">子育てAI「あいママ」に聞いてみる</p>
      <div id="vue-ai-answer"></div>
    </div>
    <div class="w-full bg-white shadow flex flex-col my-4 p-6">
      <p class="text-xl font-semibold pb-5">似た質問</p>
    </div>
  </aside>
</div>