<% content_for :title, @question.title %>
<% content_for :description, @question.content %>
<% content_for :keywords, @question.tags %>

<h1>Question#show</h1>
<% if current_user.id == @question.user_id %>
  <%= link_to '変更', edit_question_path(@question.hashid) %>
<% end %>
<hr />
title: <%= @question.title.nil? ? '-' : @question.title %>
<br />
tags: <%= @question.tags.nil? ? '-' : @question.tags %>
<br />
content: <%= @question.content.nil? ? '-' : simple_format(h(@question.content)) %>
<br />
status: <%= @question.status.nil? ? '-' : @question.status %>
<br />
<%= button_to 'プロフィール', profile_path(@user.hashid), method: :get %>

<hr />
Reply
<div id="vue-reply"></div>
<hr />
<% if @question.open? %>
  Comment
  <%= form_with url: question_post_answer_path, local: true do |form| %>
    <%= form.text_area :content %>
    <br />
    <%= form.hidden_field :id, :value => @question.hashid %>

    <%= form.submit 'コメント' %>
  <% end %>
<% end %>
<hr />
<div id="vue-ai-answer"></div>
