<h1>Question#show</h1>

title: <%= @question.title.nil? ? '-' : @question.title %>
<br />
tags: <%= @question.tags.nil? ? '-' : @question.tags %>
<br />
content: <%= @question.content.nil? ? '-' : @question.content %>
<br />
status: <%= @question.status.nil? ? '-' : @question.status %>
<hr />
Reply
<div id="vue-reply"></div>
<hr />
Comment
<%= form_with url: question_post_answer_path, local: true do |form| %>
  <%= form.text_area :content %>
  <br />
  <%= form.hidden_field :id, :value => @question.id %>

  <%= form.submit '回答する' %>
<% end %>