<% content_for :title, @question.title %>
<% content_for :description, @question.content %>
<% content_for :keywords, @question.tags %>
<% content_for :js do %>
  <%= javascript_import_module_tag "dist/question/show/main" %>
<% end %>

<div class="container mx-auto flex flex-wrap py-6">
  <section class="w-full md:w-3/4 flex flex-col px-3">
    <%= render partial: 'question/layouts/show_questioner' %>

    <div class="flex">
      <%= render partial: 'layouts/status', locals: { question: @question } %>
    </div>

    <%= render partial: 'layouts/h1', locals: { h1: @question.title } %>

    <%= render partial: 'question/layouts/show_question' %>

    <%= render partial: 'question/layouts/show_good_cnt' %>

    <%= render partial: 'question/layouts/show_reply' %>

    <%= render partial: 'question/layouts/show_answer' %>


  </section>
  <aside class="w-full md:w-1/4 flex flex-col px-3">
    <div class="w-full bg-white shadow flex flex-col my-4 p-6">
      <h2 class="mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900">子育てAI <span class="text-rose-600">あいママ</span> に聞いてみる</h2>
      <div id="vue-ai-answer">
        <div class="p-5 text-center">
          <button
            type="button"
            class="inline-flex text-white bg-rose-500 border-0 py-2 px-6 focus:outline-none hover:bg-rose-600 rounded text-base"
          >教えて!<br/>あいママ</button>
        </div>
      </div>
      <p class="text-xs text-rose-500 mt-3">あいママは勉強中の子育てAIです。間違った情報を発言してしまう可能性もあるので、大事なことは専門家に相談してください。</p>
    </div>
    <%# <div class="w-full bg-white shadow flex flex-col my-4 p-6"> %>
      <%# <p class="text-xl font-semibold pb-5">似た質問</p> %>
    <%# </div> %>
  </aside>
</div>