<% content_for :title, 'パスワード変更' %>

<div class="container px-5 py-24 mx-auto">
  <section class="lg:w-1/2 md:w-2/3 mx-auto">
    <%= render partial: 'layouts/h1', locals: { h1: 'パスワード変更' } %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="relative mb-8">
        <label class="leading-7 text-sm text-gray-600">新しいパスワード</label>
        <%=
          f.password_field :password,
          autofocus: true,
          autocomplete: "new-password",
          required: true,
          maxlength: 20,
          class: "w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        %>
      </div>

      <div class="relative mb-8">
        <label class="leading-7 text-sm text-gray-600">新しいパスワード(確認用)</label>
        <%=
          f.password_field :password_confirmation,
          autocomplete: "new-password",
          required: true,
          maxlength: 20,
          class: "w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        %>
      </div>

      <button
        type="submit"
        class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg mb-8"
      >パスワードを変更する</button>
    <% end %>
    <p class="text-base leading-relaxed mb-2"><%= link_to 'ログインはこちら', new_user_session_path, class: "text-green-500 leading-relaxed" %></p>
    <p class="text-base leading-relaxed mb-2"><%= link_to '会員登録はこちら', new_user_registration_path, class: "text-green-500 leading-relaxed" %></p>
  </section>
</div>