<% content_for :title, 'パスワードリマインダー' %>

<div class="container px-5 py-24 mx-auto">
  <section class="lg:w-1/2 md:w-2/3 mx-auto">
    <%= render partial: 'layouts/h1', locals: { h1: 'パスワードリマインダー' } %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="relative mb-8">
        <label class="leading-7 text-sm text-gray-600">メールアドレス</label>
        <%=
          f.email_field :email,
          maxlength: 255,
          autofocus: true,
          autocomplete: "email",
          required: true,
          class: "w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        %>
      </div>
      <button
        type="submit"
        class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg mb-8"
      >確認メールを送信する</button>
    <% end %>
    <p class="text-base leading-relaxed mb-2"><%= link_to 'ログインはこちら', new_user_session_path, class: "text-green-500 leading-relaxed" %></p>
    <p class="text-base leading-relaxed mb-2"><%= link_to '会員登録はこちら', new_user_registration_path, class: "text-green-500 leading-relaxed" %></p>
  </section>
</div>
