<% content_for :title, 'マイページ編集' %>

<h1>Mypage#edit</h1>
<%= form_with model: current_user, url: mypage_update_path, local: true do |form| %>
  name: <%= form.text_field :name %>
  <br />
  text: <%= form.text_area :content %>
  <br />
  twitter_id: <%= form.text_field :twitter_id %>
  <br />
  instagram_id: <%= form.text_field :instagram_id %>
  <br />
  facebook_id: <%= form.text_field :facebook_id %>
  <br />

  <%= form.submit %>
<% end %>