<% content_for :title, 'マイページ' %>
<% content_for :js do %>
  <%= javascript_import_module_tag "dist/mypage/show/main" %>
<% end %>

<section class="container md:w-3/4 lg:w-1/2 mx-auto flex flex-wrap">
  <div class="w-full flex flex-col">
    <%= render partial: 'layouts/h1', locals: { h1: 'マイページ' } %>
  </div>

  <%= render partial: 'mypage/layouts/show_logo' %>

  <%= render partial: 'mypage/layouts/show_ipass' %>

  <%= render partial: 'mypage/layouts/show_profile' %>

  <%= render partial: 'mypage/layouts/show_question' %>

</section>