<% content_for :title, 'マイページ' %>

<h1>Mypage#show</h1>
email: <%= current_user.email %>
<br />
pass: ⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎
<br />
<%= button_to '変更', edit_user_registration_path, method: :get %>
<hr />
logo: <%= current_user.logo.nil? ? '-' : current_user.logo %>
<% unless current_user.logo.nil? %>
  <%= image_tag current_user.logo, size: '64x64' %>
<% end %>

<%= form_with url: mypage_update_logo_path, local: true, multipart: true do |form| %>
  <input name="logo" type="file"  accept="image/*">
  <%= form.submit %>
<% end %>

<br />
<hr />
<%= button_to '登録', mypage_edit_path, method: :get %>
name: <%= current_user.name.nil? ? '-' : current_user.name %>
<br />
text: <%= current_user.content.nil? ? '-' : current_user.content %>
<br />
twitter_id: <%= current_user.twitter_id.nil? ? '-' : current_user.twitter_id %>
<br />
instagram_id: <%= current_user.instagram_id.nil? ? '-' : current_user.instagram_id %>
<br />
facebook_id: <%= current_user.facebook_id.nil? ? '-' : current_user.facebook_id %>

<hr />
wip
<% @questions.each do |question| %>
<ul>
  <li><%= question.id %></li>
  <li><%= link_to '変更', edit_question_path(question.id) %></li>
  <li><%= question.title %></li>
  <li><%= question.tags %></li>
  <li><%= question.content %></li>
  <li><%= question.view_cnt %></li>
  <li><%= question.answer_cnt %></li>
  <li><%= question.status %></li>
  <li><%= question.user_id %></li>
</ul>
<% end %>
