<h2>List</h2>
<%= button_to 'ログイン', new_user_session_path, method: :get %>
<%= button_to '会員登録', new_user_registration_path, method: :get %>
<hr />
<%= button_to 'マイページ', mypage_path, method: :get %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<hr />
<%= button_to '作成', new_question_path, method: :get %>
<hr />
<% @questions.each do |question| %>
<ul>
  <li><%= question.id %></li>
  <li><%= question.title %></li>
  <li><%= question.tags %></li>
  <li><%= question.content %></li>
  <li><%= question.view_cnt %></li>
  <li><%= question.answer_cnt %></li>
  <li><%= question.status %></li>
  <li><%= question.user_id %></li>
</ul>
<%= button_to '閲覧', question_path(question.id), method: :get %>

<% end %>

<%== pagy_nav(@pagy) %>