<header class="text-gray-600 body-font border-b-2 border-gray-100">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <span class="ml-3 text-xl">ママパパQ&A</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <%=
        link_to '質問する',
        new_question_path,
        class: "mr-5 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg"
      %>
      <% if user_signed_in? %>
        <a href="<%= mypage_path %>" class="inline-flex items-center mr-5">
          <img src="<%= current_user.logo %>" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
        </a>
        <%=
          button_to 'ログアウト',
          destroy_user_session_path,
          method: :delete,
          class: "mr-5 hover:text-gray-900"
        %>
      <% else %>
        <%=
          link_to 'ログイン',
          mypage_path,
          class: "mr-5 hover:text-gray-900"
        %>
        <%=
          link_to '会員登録',
          new_user_registration_path,
          class: "mr-5 hover:text-gray-900"
        %>
      <% end %>
    </nav>
  </div>
</header>