<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= site_title(yield(:title)) %></title>
    <meta data-hid="description" name="description" content="<%= site_description(yield(:description)) %>">
    <meta content="<%= site_keywords(yield(:keywords)) %>" name="keywords" />
    <meta property="og:title" content="<%= site_title(yield(:title)) %>">
    <meta property="og:type" content="<%= site_type(yield(:type)) %>">
    <meta property="og:description" content="<%= site_description(yield(:description)) %>">
    <meta property="og:url" content="https://papamamaqa.com">
    <%# <meta property="og:image" content="https://teratail.com/img/ogpImages/imgFacebookShare.png"> %>
    <meta property="og:site_name" content="ママパパQ&A">
    <meta property="og:locale" content="ja_JP">
    <meta property="twitter:card" content="summary">
    <%# <meta property="twitter:site" content="@teratail"> %>
    <%# <meta property="twitter:image" content="https://teratail.com/img/ogpImages/imgTwitterCard.png"> %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FZ97HD18X1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FZ97HD18X1');
    </script>
  </head>

  <body class="p-10">
    <% if notice %>
      <p class="notice"><%= notice.html_safe %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert.html_safe %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
