<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>こそだてQue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice.html_safe %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert.html_safe %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
