<% content_for :title, '会員編集' %>

<div class="container px-5 py-24 mx-auto">
  <section class="lg:w-1/2 md:w-2/3 mx-auto">
    <%= render partial: 'layouts/h1', locals: { h1: '会員編集' } %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="relative mb-8">
        <label class="leading-7 text-sm text-gray-600">メールアドレス</label>
        <%=
          f.email_field :email,
          maxlength: 255,
          autofocus: true,
          autocomplete: "email",
          class: "w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        %>
      </div>

      <div class="relative mb-8">
        <label class="leading-7 text-sm text-gray-600">新しいパスワード</label>
        <%=
          f.password_field :password,
          autocomplete: "new-password",
          maxlength: 20,
          class: "w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        %>
        <p class="text-xs text-gray-500 mt-3">パスワードを変更しない場合は入力しないでください。</p>
      </div>

      <div class="relative mb-8">
        <label class="leading-7 text-sm text-gray-600">新しいパスワード(確認用)</label>
        <%=
          f.password_field :password_confirmation,
          autocomplete: "new-password",
          maxlength: 20,
          class: "w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        %>
      </div>

      <div class="relative mb-8">
        <label class="leading-7 text-sm text-gray-600">現在のパスワード</label>
        <%=
          f.password_field :current_password,
          autocomplete: "current-password",
          maxlength: 20,
          class: "w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        %>
        <p class="text-xs text-gray-500 mt-3">メールアドレス、パスワードを変更する場合は現在のパスワード入力してください。</p>
      </div>
      <div class="relative text-center mb-4">
        <button
          type="button"
          class="w-full md:w-auto text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded text-lg py-4 px-8 mb-4"
          onClick="history.back()"
        >戻る</button>
        <button
          type="submit"
          class="w-full md:w-auto text-white bg-green-500 border-0 py-4 px-8 focus:outline-none hover:bg-green-600 rounded text-lg focus:ring-4 focus:outline-none focus:ring-green-300  mb-4"
        >変更する</button>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="w-full pt-8 mt-8 border-t border-gray-200">
        <div class="relative text-center mb-4">
          <%=
            button_to "退会する",
            registration_path(resource_name),
            data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
            method: :delete,
            class: "mr-5 text-white bg-red-500 border-0 py-4 px-8 focus:outline-none hover:bg-red-600 rounded text-lg focus:ring-4 focus:outline-none focus:ring-red-300"
          %>
        </div>
      </div>
    <% end %>
  </section>
</div>
